@model IEnumerable<AppWeb.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tbl-clientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>

</table>
@Html.AntiForgeryToken()

@section Styles {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            let tipoIdentificacion = ["Cedula","Pasaporte", "RUC"]
            let tabla = $('#tbl-clientes').DataTable({
                ajax: "@Url.Action("GetClientes")",
                columns: [
                    { "data": "TipoIdentificacion" },
                    { "data": "Identificacion" },
                    { "data": "NombreCompleto" },
                    { "data": "Activo" }
                ],
                columnDefs: [
                    {
                        "render": function (data, type, row) {
                            return tipoIdentificacion[data];
                        },
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            return `<input type="checkbox" ${(data && data != "false" ? "checked" : "")} disabled>`;
                        },
                        "targets": 3
                    },
                    {
                        "render": function (data, type, row) {
                            return `<button class="btn btn-xs btn-danger btn-eliminar" data-id="${ row.Identificacion }"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>`;
                        },
                        "targets": 4
                    }
                ],
                language: {
                    url: '/Scripts/es_EC.json'
                }
            });

            $(document).on('click', '.btn-eliminar', function (e) {
                var id = $(this).data("id");
                swal({
                    title: "Se eliminará el registro",
                    text: "¿Está seguro de eliminar el registro?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Si, eliminar",
                    cancelButtonText: "No, deseo conservarlo",
                    closeOnConfirm: false
                },
                    function () {
                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("DeleteAjax")",
                            data: {
                                "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val(),
                                "id": id
                            }
                        })
                            .done(function (msg) {
                                tabla.data().draw();
                                swal("Registro Eliminado", "La información ha sido removida del servidor.", "success");
                        });

                });
            })
        });
    </script>
}