@model IEnumerable<AppWeb.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tbl-clientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>

</table>


@section Styles {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbl-clientes').DataTable({
                ajax: "@Url.Action("GetClientes")",
                columns: [
                    { "data": "TipoIdentificacion" },
                    { "data": "Identificacion" },                    
                    { "data": "NombreCompleto" },
                    { "data": "Activo" }
                ],
                columnDefs: [
                    {
                        "render": function (data, type, row) {
                            debugger;
                            return '<button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>';
                        },
                        "targets": 4
                    }
                ],
                language: {
                    url: '/Scripts/es_EC.json'
                }
            });
        });
    </script>
}