@model AppWeb.Models.DetallePedidoVM

<form role="form" method="POST" id="add">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar detalle <small>Pedido</small></h4>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductoNombre)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductoNombre, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <select id="@Html.IdFor(model => model.ProductoId)" name="@Html.NameFor(model => model.ProductoId)"
                            class="form-control">
                    </select>
                    @Html.ValidationMessageFor(model => model.ProductoNombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control ", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Total</label>
                <div class="col-md-8">
                    <input disabled id="Total" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Agregar" name="accion_a" class="btn btn-default"/>
        <input type="reset" value="Limpiar" name="accion" class="btn" />
        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
</form>

<script>
    $('#@Html.IdFor(model => model.Cantidad)').mask("###0", { reverse: true });

    $('#@Html.IdFor(model => model.Cantidad)').keyup(function () {
        let precio = $("#@Html.IdFor(model => model.Precio)").val() || 0,
            cantidad = $(this).val() || 0;
        $("#Total").val((precio*1) * (cantidad*1));
    });

    $('#@Html.IdFor(model => model.ProductoId)').select2({
        placeholder: 'Elija una producto...',
        delay: 3000,
        ajax: {
            url: '@Url.Action("GetProductos", "Productos")',
            dataType: 'json',
            data: function (params) {
                var query = {
                    filtro: params.term
                }
                return query;
            },
            processResults: function (data) {
                return {
                    results: data.data.map(function (item) {
                        return {
                            id: item.Id,
                            text: item.Nombre,
                            precio: item.Precio
                        };
                    })
                };
            }
        }
    });

    $('#@Html.IdFor(model => model.ProductoId)').on('select2:select', function (e) {
        var data = e.params.data;
        $("#@Html.IdFor(model => model.ProductoNombre)").val(data.text);
        $("#@Html.IdFor(model => model.Precio)").val(data.precio);
    });

    $('[type="reset"]').click(function () {
        $('#@Html.IdFor(model => model.ProductoId)').val('');
        $('#@Html.IdFor(model => model.ProductoId)').trigger('change');
    });
</script>