@model AppWeb.Models.Pedido

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Pedido <small>@Model.Id</small></h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Identificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.TipoIdentificacion) - @Html.DisplayFor(model => model.Cliente.Identificacion)
        </dd>
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NombreCompleto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>

        <dt>
            Valor Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
    <table id="tbl-nuevo-pedido" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Detalles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @(item.Cantidad * item.Producto.Precio)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="reset" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>

